[Unit]
Description=Daily static website publication timer

[Timer]
OnCalendar=*-*-* 00:01:00
RandomizedDelaySec=5h 58m
Persistent=true
Unit=sennelager-fetch.service

[Install]
WantedBy=timers.target
